    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1.6;
        background-color: #f4f4f4;
    }

    .container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    header {
        background-color: #00a8ff;
        color: white;
        padding: 1rem;
        text-align: center;
    }

    footer {
        background-color: #00a8ff;
        color: white;
        text-align: center;
        padding: 2rem;
        margin-top: auto;
    }

    main {
        display: grid;
        grid-template-columns: 300px 1fr;
        min-height: 76vh;
        flex: 1;
    }

    aside {
        background-color: #08738a;
        color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    h2,h3 {
        margin-bottom: 10px;
    }